/* generales sass*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*cuerpo*/
body {

background-color:#141412;

}
/*menú*/
.menu{
    
  display: flex;
  justify-content: right;
  margin-left: 20px;
}
a { 
  text-decoration: none;
  color:rgb(250, 245, 245);

}  
                                     /*hasta acá generales sass*/